@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Sans:ital,wght@0,300;1,300&family=Poppins:wght@500;600&display=swap');

html {
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: white;
    background: black;
}

h1,
h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
    color: #ffffff;
}

h2 {
    margin: 0.83em 0;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 2px solid rgb(176 124 255);
    font-size: 120%;
    padding: 0.5em 2em;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

button a {
    color: rgb(176 124 255);
}

header {
    --bg: #7293B3;
    /* background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 0) 100%); */
    background: rgb(114, 147, 179);
    background: linear-gradient(to top, rgba(114, 147, 179, 0) 0, rgba(114, 147, 179, 1) 50px);
    padding: 2ex 5vw 50px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 2em;
}

header .author {
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    color: rgb(32, 32, 32);
    font-weight: bold;
    line-height: 40px;

    padding: 0;
    margin: 0;
}

header nav ul {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;

    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;

    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    margin-top: 16px;
}

header nav ul li {
    /* display: inline; */
    /* margin-left: 2em; */
    padding: 0;
    margin: 0;
    height: 40px;
    white-space: nowrap;
}

header nav ul li a {
    color: rgb(32, 32, 32);
}

section {
    min-height: 80vh;
    padding: 20vh 5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}
section p {
    max-width: 67ch;
    margin: 3ex auto;
    text-shadow: 0 0 10px rgb(0 0 0), 0 0 20px rgb(0 0 0), 0 0 50px rgb(0 0 0);
    /* --darken-background: 0.2;
    background: linear-gradient(rgba(0, 0, 0, var(--darken-background)), rgba(0, 0, 0, var(--darken-background))); */
    
}

section#splash-container {
    --darken-background: 0.2;
    background: linear-gradient(rgba(0, 0, 0, var(--darken-background)), rgba(0, 0, 0, var(--darken-background))),
        no-repeat center/cover url(images/20230508_182553.jpg);
}

section#splash-container h1 {
    font-size: 11vw;
    font-weight: 1000;
}

section#coaching-foretag {
    --darken-background: 0.2;
    background: linear-gradient(rgba(0, 0, 0, var(--darken-background)), rgba(0, 0, 0, var(--darken-background))),
        no-repeat center/cover url(images/20200627_175019.jpg);
}

section#musiken {
    --darken-background: 0.2;
    background: linear-gradient(rgba(0, 0, 0, var(--darken-background)), rgba(0, 0, 0, var(--darken-background))),
        no-repeat center/cover url(images/200710_163846_DSCF5836.JPG);
}

section#katteriet {
    --darken-background: 0.2;
    background: linear-gradient(rgba(0, 0, 0, var(--darken-background)), rgba(0, 0, 0, var(--darken-background))),
        no-repeat top/cover url(images/20211013_100402.jpg);
}

section#ommig {
    --darken-background: 0.2;
    background: linear-gradient(rgba(0, 0, 0, var(--darken-background)), rgba(0, 0, 0, var(--darken-background))),
        no-repeat center/cover url(images/20221001_123316.jpg);
}

section#ommig h2 {
    margin-top: 80ch;
}
